<?xml version="1.0"?>
<config>
    <modules>
        <Psd2Html_SeparateCart>
            <version>0.1.1</version>
        </Psd2Html_SeparateCart>
    </modules>

    <global>
        <helpers>
            <separatecart>
                <class>Psd2Html_SeparateCart_Helper</class>
            </separatecart>
        </helpers>

        <blocks>
            <separatecart>
                <class>Psd2Html_SeparateCart_Block</class>
            </separatecart>
        </blocks>

        <models>
            <psd2html_separatecart>
                <class>Psd2Html_SeparateCart_Model</class>
            </psd2html_separatecart>
            <core>
                <rewrite>
                    <url>Psd2Html_SeparateCart_Model_Core_Url</url>
                </rewrite>
            </core>
        </models>

        <rewrite>
            <psd2html_separatecart_checkout_cart>
                <from><![CDATA[#^/checkout/fht#]]></from>
                <to>/checkout/cart</to>
            </psd2html_separatecart_checkout_cart>
        </rewrite>

        <events>
            <catalog_product_load_after>
                <observers>
                    <psd2html_separatecart_model_observer>
                        <type>model</type>
                        <class>Psd2Html_SeparateCart_Model_Observer</class>
                        <method>addPostData</method>
                    </psd2html_separatecart_model_observer>
                </observers>
            </catalog_product_load_after>

            <sales_convert_quote_item_to_order_item>
                <observers>
                    <psd2html_separatecart_model_observer_order_item>
                        <type>model</type>
                        <class>Psd2Html_SeparateCart_Model_Observer</class>
                        <method>salesConvertQuoteItemToOrderItem</method>
                    </psd2html_separatecart_model_observer_order_item>
                </observers>
            </sales_convert_quote_item_to_order_item>

            <sales_quote_collect_totals_before>
                <observers>
                    <hackathon_presentation>
                        <type>singleton</type>
                        <class>Psd2Html_SeparateCart_Model_Observer</class>
                        <method>salesQuoteAddressCollectTotalsBefore</method>
                    </hackathon_presentation>
                </observers>
            </sales_quote_collect_totals_before>

            <sales_order_place_before>
                <observers>
                    <psd2html_separatecart_copy_items_before_create_order>
                        <type>singleton</type>
                        <class>Psd2Html_SeparateCart_Model_Observer</class>
                        <method>copyItemsBeforeCreateOrder</method>
                    </psd2html_separatecart_copy_items_before_create_order>
                </observers>
            </sales_order_place_before>

            <controller_action_predispatch>
                <observers>
                    <psd2html_separatecart_controller_action_after>
                        <type>singleton</type>
                        <class>Psd2Html_SeparateCart_Model_Observer</class>
                        <method>loadPage</method>
                    </psd2html_separatecart_controller_action_after>
                </observers>
            </controller_action_predispatch>

            <load_checkout_onepage>
                <observers>
                    <psd2html_separatecart_onepage_observer>
                        <type>singleton</type>
                        <class>Psd2Html_SeparateCart_Model_Observer</class>
                        <method>beforeCreateOrder</method>
                    </psd2html_separatecart_onepage_observer>
                </observers>
            </load_checkout_onepage>

            <controller_action_predispatch>
                <observers>
                    <psd2html_separatecart_controller_action_after>
                        <type>singleton</type>
                        <class>Psd2Html_SeparateCart_Model_Observer</class>
                        <method>addEvent</method>
                    </psd2html_separatecart_controller_action_after>
                </observers>
            </controller_action_predispatch>

            <!--<checkout_cart_save_before>-->
                <!--<observers>-->
                    <!--<psd2html_separatecart_checkout_cart_save_before>-->
                        <!--<type>singleton</type>-->
                        <!--<class>Psd2Html_SeparateCart_Model_Observer</class>-->
                        <!--<method>cartSaveBefore</method>-->
                    <!--</psd2html_separatecart_checkout_cart_save_before>-->
                <!--</observers>-->
            <!--</checkout_cart_save_before>-->

            <!--<sales_convert_quote_item_to_order_item>-->
                <!--<observers>-->
                    <!--<psd2html_auto_sales_item>-->
                        <!--<type>model</type>-->
                        <!--<class>Psd2Html_Autopopulate_Model_Observer</class>-->
                        <!--<method>salesConvertQuoteItemToOrderItem</method>-->
                    <!--</psd2html_auto_sales_item>-->
                <!--</observers>-->
            <!--</sales_convert_quote_item_to_order_item>-->
        </events>
    </global>

    <frontend>
        <routers>
            <separatecart>
                <use>standard</use>
                <args>
                    <module>Psd2Html_SeparateCart</module>
                    <frontName>separatecart</frontName>
                </args>
            </separatecart>
        </routers>
        <layout>
            <updates>
                <sitemap>
                    <file>psd2html/separatecart.xml</file>
                </sitemap>
            </updates>
        </layout>
    </frontend>
</config>
